/* body {
  overflow: hidden;
} */


#app img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}

#sub-container {
  top: 0;
  position: absolute;
  /* object-fit: cover;
  height: 100%;
  width: 100%; */
  z-index: -1;
}

.background-image {
  /* width: 100%;
  height: 100%; */
}

#top-container {
  width: 100%;
  height: 100%;
  top: 0;
  position: relative;
  z-index: 1;
}

#greeting-clock-div {
  margin-top: 20%;
  text-align: center;
}

#clock {
  font-size: 8em;
  color: white;
  margin-block-end: 1%;
}

#greeting {
  font-size: 3em;
  text-align: center;
  color: white;
  margin-block-start: 1%;
  display: inline-flex;
  justify-content: center;
}

#greeting #more-options {
  outline: none;
  border: transparent;
  background: transparent;
  color: white;
  font-size: .5em;
  text-align: center;
  height: 2em;
  width: 2em;
  margin-left: .5em;
  list-style: none;
  visibility: hidden;
  margin-top: .5em;
}

#greeting:hover #more-options {
  visibility: visible;
}

#greeting #more-options:hover {
  visibility: visible;
  border-radius: 50%;
  background: rgba(136, 136, 136, 0.577);
}


.more-options-item {
  color: white;
  font-size: 2em;
  text-align: center;
  list-style: none;
}

.focus-text-header {
  color: white;
  font-size: 1.5em;
}

#focus-form-div,
#focus-div {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#form-input {
  border: none;
  outline: none;
  border-bottom: 2px solid white;
  width: 25%;
  text-align: center;
  background-color: transparent;
  color: white;
  font-size: 2em;
}

#main-focus-item-div {
  margin-left: auto;
  margin-right: auto;
  display: inline-flex;
  align-items: center;
}

#main-focus-mark-complete {
  width: 2em;
  height: 2em;
}

#main-focus-text {
  color: white;
  display: block;
  padding-left: .5em;
  padding-right: .5em;
  font-size: 2em;
}

#main-focus-text-completed {
  animation: fadein 2s;
  display: block;
  padding-left: .5em;
  padding-right: .5em;
  text-decoration: line-through;
  color: white;
  font-size: 2em;
}

#main-focus-delete {
  border: none;
  font-size: 1.5em;
  background: none;
  outline: none;
  color:white;
  bottom: 0
}

#main-focus-mark-complete,
#main-focus-delete {
  visibility: hidden;
}


#main-focus-item-div:hover button {
  visibility: visible;
}

.form-text-header {
  color: white;
  font-size: 2em;
  font-weight: bold;
}

#welcome-screen {
  margin: auto;
  margin-top: 20%;
  text-align: center;
}

form#underlined-form-user {
  font-size: .5em;
  background: rgba(255, 255, 255, 0.561);
  width: 20%;
}

#form-input-user {
  border: none;
  outline: none;
  border-bottom: 2px solid white;
  width: 100%;
  /* text-align: center; */
  background-color: transparent;
  color: white;
  font-size: 2em;
  padding: 0;
}

#weather-div {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1%;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

#weather-temp {
  color: white;
  padding: 0;
}

#weather-location {
  display: inline-flex;
  color: white;
  padding: 0;
}

#weather-desc {
  color: white;
  padding: 0;
}